---
import Home from "../icons/Home.astro"
import Search from "../icons/Search.astro"
import SideManuItem from "./SideManuItem.astro"
---
<div class="flex flex-col">
    <nav>
        <ul class="bg-base-layout p-3 rounded-lg">
            <SideManuItem text="Inicio">
                <Home slot="icon"/>
            </SideManuItem>
            <SideManuItem text="Buscar">
                <Search slot="icon"/>
            </SideManuItem>
        </ul>
        <div>
            rest
        </div>
    </nav>
</div>