---
import Home from "@/icons/Home.astro"
import Library from "@/icons/Library.astro"
import Search from "@/icons/Search.astro"
import SideManuItem from "./SideManuItem.astro"
import SideMenuCard from "./SideMenuCard.astro"
import {playlists} from '@/lib/data'
---
    <nav class="flex flex-col flex-1 gap-2">
        <ul class="bg-base-layout p-3 rounded-lg">
            <SideManuItem text="Inicio">
                <Home slot="icon"/>
            </SideManuItem>
            <SideManuItem text="Buscar">
                <Search slot="icon"/>
            </SideManuItem>
        </ul>
        <div class="bg-base-layout p-3 rounded-lg flex-1">
            <ul>
                <SideManuItem text="Tu Blibioteca">
                    <Library slot="icon"/>
                </SideManuItem>
                {
                    playlists.map(playlist => <SideMenuCard playlist={playlist}/>)
                }
            </ul>
        </div>
    </nav>