---
interface Props {
    href?: string,
    text?: string
}

const {href, text} = Astro.props
---

<li class="px-3 py-1">
    <a href={href} class="flex gap-5 h-10 items-center fill hover:fill text-zinc-300 hover:text-zinc-100  cursor-pointer font-medium transition duration-300">
        <slot name="icon"/> {text}
    </a>
</li>

<style>
    a{
        color: rgb(173, 173, 173);
    }
    a:hover{
        color: white;
    }
</style>
 